/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image-path);
  background-color: var(--cover-image-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 1.125rem;
  width:100%;
  padding: 10px;
  position: relative;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.title-decor {
  font-weight: bold;
  color: var(--decor-color);
  background-color: var(--accent-color);
}

.title-decor--light {
  font-weight: 400;
  color: var(--decor-color);
  background-color: var(--accent-color);
}

.decorated-zone ::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-left: 1px solid rgb(var(--menu-color));
  border-bottom: 1px solid rgb(var(--menu-color));
  bottom: 20px;
  left: 0px;
}
.decorated-zone ::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-right: 1px solid rgb(var(--menu-color));
  border-top: 1px solid rgb(var(--menu-color));
  top: 0px;
  right: 0px;
}

/* HEADER */

.header {
    height: max(100dvh, 668px);
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
}

.rec-sign {
  display: none;
}

.theme-dark .rec-sign {
  position: absolute;
  color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 1.38;
  top: 12px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-dark .rec-sign::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  flex-shrink: 0;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.decorated-zone {
    position: relative;
}

.header__theme-menu-button {
    background-color: transparent;
    padding: 1.5px 13px;
    font-size: 1.125rem;
    line-height: 1;
    text-transform: lowercase;
    border: none;
    border-bottom: 1px solid transparent; /* компенсируем сдвиг при появлении рамки при фокусе*/
    outline: none;
    color: rgb(var(--menu-color));
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(var(--menu-color) / 0.3);
  border-bottom-color: transparent;
}

.header__theme-menu-button:focus-visible {
  outline:none;
  border-bottom: 1px solid rgb(var(--menu-color));
}

.header__theme-menu-button_active {
  outline: 1px solid rgb(var(--menu-color));
  border-bottom-color: transparent;
}


.header__title {
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

.header__text {
  grid-row: 3;
  align-self: center;
}

/* SECTIONS */

.section {
  margin-bottom: 50px;
  container-type: inline-size;
}

.section__title {
  font-size: 1.125rem;
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--section-color);
}

.section__subtitle {
  font-size: 1.125rem;
  line-height: 1.3;
}

.section__subtitle.title-decor {
  margin-bottom: 20px;
}

.section__subtitle.title-decor--light {
  margin-bottom: 10px;
}

.section article:not(:last-of-type) {
  margin-bottom: 20px;
}

.section__text {
  color: var(--text-color);
  font-size: 1.125rem;
}

.section__link {
  color: inherit;
  text-shadow: 4px 4px 0 var(--accent-color);
  text-decoration: none;
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--text-color);
  border: none;
}

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.gallery__picture {
  max-width: 100%;
  object-fit:cover;
  object-position: center center;
}


/* FOOTER */

.footer {
  height: max(100dvh, 668px);
  display: grid;
  grid-template-columns: 1fr;
  font-family: inherit;
  font-weight: bold;
  justify-self: center;

}


/* CONTAINERS */

@container (inline-size >= 621px) {
  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .gallery__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .gallery__picture-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__picture-ice {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  .gallery__picture-tape {
    grid-column: 1 / 1;
    grid-row: 2 / 4;

  }

  .gallery__picture-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__picture-street {
    grid-column: 2 / 4;
    grid-row: 3 / 3;
  }

}

/* MEDIA */

@media ( width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 3;
  }

  .header {
      grid-template-columns: 1fr 1fr;
  }

  .footer {
      grid-template-columns: 1fr 1fr;
       width: 100%;
  }

  .footer .header__title {
      grid-column: 1 / 3;
      justify-self: center;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__text {
    grid-row: 3;
    grid-column: 2;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    grid-column: 1;
  }

  .section__what-wrapper {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .gallery__subtitle {
    grid-column: 1 / 3;
  }

  .section__gallery {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: flex-start;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .section__what-wrapper {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
